.selectStyleValidate {padding:3px;
    margin: 0;
    -webkit-border-radius:2px;
    -moz-border-radius:1px;
    border-radius:3px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    background: #F6CED8;
    color:#FF0000;
    border:1px;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;  }
.selectStyle {padding:3px;
    margin: 0;
    -webkit-border-radius:2px;
    -moz-border-radius:1px;
    border-radius:3px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    background:#EFEFFB;
    color:#888;
    border:1px;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;  }
.addDetails{border: 1px solid #ffc; border-radius: 5px; float: none; margin: 10px auto; padding: 15px; width: 75%;}
.addDetails h2{font-size:26px;padding-left:10px;color:#fff;}
.form-horizontal .control-label.col-xs-3,.addDetails .col-xs-9{width:100%; text-align:left;padding-bottom:5px;color:#fff;}
.form-group label,.form-control,#address{color:#fff;}
body{background:url("bkg.png") repeat-y right top;width:100%;background-size:cover;}
.addDetails .form-control {background:transparent;}
.btn-default:hover,.btn-default:focus,.btn-default{background-color: #5bc0de;border-color: #5bc0de;color: #fff;font-weight: 500;}
.btn-big:hover,.btn-big{background-color: #5bc0de;border-color: #5bc0de;color: #fff;font-weight: 500; height: 500px;}
.form-horizontal .control-label{text-align:left;}
.mapCustom #map_canvas{ width:100%; height: 320px;} 
.mapCustom,#backBtn,#showImageBtn,#imageContainer{display:none;}
#imageContainer img{max-width:100%; max-height:100%;}
#imageContainer{height:320px;}
.helloPinPoint .col-xs-9,.helloPinPoint .col-xs-3{width: inherit !important;}
#imageBtnContainer{margin-bottom: 10px;}
#imageBtnContainer input{margin-right:10px; vertical-align:middle;}
#imageBtnContainer label{color:#fff;}
.thirdContainer{margin-bottom: 10px;}
.thirdContainer input{margin-right:10px; width:20px; vertical-align: top;}
#imageBtnContainer input{vertical-align: middle;}
.mapCustom{margin-bottom:20px;}
.imageBtn,.imageBtn:hover,.imageBtn:focus{background-color: transparent;border-color: #fff;}
.tickitMsgBody{
    border: 1px solid #fff;
    width: 100%;
    color:#fff;
    padding: 10px 0 10px 10px;
    height:100px;
    
}
#tickitMsgBody{word-wrap: break-word;display:block;padding-right:15px;}
.form-horizontal .radio-label{width:100%; text-align:left;color:#fff;font-weight:normal;}
.animate
{
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: center;
	border-radius: 10px;
	font-family: 'Arial', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

@media screen and (min-width:650px){
   .addDetails{width:70%;}
   .addDetails textarea.form-control{ height:70px;}

}

/*@media screen and (max-width:480px){
   .addDetails{width:95%;}

}*/

@media screen and (max-width:535px){
  /*.comment-text{margin-right:10px;}
.div-btns .comment_comment{padding:6px;}*/
}

@media screen and (max-width:465px){
   .addDetails{width:85%;}
}

@media screen and (max-width:440px){
   .addDetails{width:95%;}
   /*.div-btns .comment_comment{padding:6px 10px;}
   .div-btns{padding:0}*/

}
@media screen and (max-width:360px){
	.div-btns{padding:0}
   /* .div-btns .comment_comment{font-size:13px;}
.div-btns .comment_comment{padding:6px;}*/
}
@media screen and (max-width:640px){
	#imageContainer img{display: block;margin: 0 auto;}
}
@media screen and (max-height:1200px){

}
#category-select {
    left: 0px;
    top: 0px;
    border: 1px solid #D3D3D3;
     margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    text-align: right;
}
    
#category-select label {
    float: center;
    margin: 1px;
    color: #6E6E6E;      
}
  
    

.control-label{
padding:0px 0px 0px 0px !important;
}

#imageRadioBtn{
margin:0px 8px 0px 0px;
}


.tickitMsgBody textarea{width: 100%; resize:none;border-radius: 0; background-color: transparent;border: none;}

.div-btns{
    /* old flexbox - Webkit and Firefox. For backwards compatibility */
    display: -webkit-box; display: -moz-box;
    /* middle-aged flexbox. Needed for IE 10 */
    display: -ms-flexbox;
    /* new flexbox. Chrome (prefix), Opera, upcoming browsers without */
    display: -webkit-flex;
    display: flex;
    
    /* old flexbox: box-* */
    -webkit-box-align: center; -moz-box-align: center;
    /* middle flexbox: flex-* */
    -ms-flex-align: center;
    /* new flexbox: various property names */
    -webkit-align-items: center;
    align-items: center;
    
    
    -webkit-box-pack: ace-around; -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.btn_bg:active, .btn_bg.active{background-color:#6bc5e1 !important; color:#fff !important}
.imageBtn:active, .imageBtn.active{background-color:#3C4548 !important; color:#fff !important}
.imageBtn:hover:not([enabled="enabled"]){background-color:transparent !important}
.btn_bg:hover:not([enabled="enabled"]){background-color:#5bc0de !important; border-color:transparent !important}
